

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article {
  background-color: whitesmoke;
  border: 1px solid #C8873A;
  border-radius: 8px;
  flex: 1;
  margin: 1.5rem;
  min-width: 300px;
  overflow: hidden;
  padding: 0;
}

article img {
  border-radius: 8px 8px 0 0;
  height: 500px;
  object-fit: cover;
  width: 100%;
}

aside {
  background-color: #4A3728;
  border-radius: 8px;
  color: #F9F6F0;
  margin: 1rem;
  padding: 20px;
  width: 30%;
}

aside ul {
  padding-top: 10px;
  padding-left: 20px;
}

body {
  background-color: #F9F6F0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

figcaption {
  padding-left: 10px;
}

footer {
  background-color: #4A3728;
  color: #F9F6F0;
  padding: 20px;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  color: #C8873A;
  font-size: 2rem;
  margin-bottom: 20px;
}

h3 {
  color: #4A3728;
  font-size: 1.5rem;
}

header {
  background-color: #F9F6F0;
  color: #4A3728;
  padding: 20px;
}

img {
  height: auto;
  max-width: 100%;
}

main {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

nav {
  background-color: #4A3728;
}

nav ul {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;          
  list-style: none;
  padding: 10px 20px;
}

nav ul a {
  color: #F9F6F0;
  display: block;
  text-decoration: none;
  width: 100%;
}

nav ul a:hover {
  background-color: #f9f6f0;
  color: #4A3728;
}

nav ul li {
  flex: 1;
  text-align: center;
}

@media (max-width: 600px) {

  aside {
    margin: 1rem auto;
    order: 2;
    width: 95%;
  }

  main {
    order: 1;
  }

  nav ul {
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
  }

  nav ul li {
    width: 100%;
  }

  .page-layout {
    flex-direction: column;
  }

}

.card-content {
  padding: 15px;
}

.nav-link {
  color: #C8873A;
  font-weight: bold;
}

.page-layout {
  align-items: stretch;
  display: flex;
  flex: 1;
}