* {
  margin: 0;
  padding: 0;
}

article {
  flex: 1;
  min-width: 300px;
}

aside {
  width: 30%;
}

main {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
}

@media (max-width: 600px) {
  
}

@media (max-width: 600px) {

  aside {
    width: 100%;
  }

  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  .page-layout {
    flex-direction: column;
  }

}

.page-layout {
  display: flex;
}