@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url("bg-batman.jpg");
    background-size: cover;
    background-origin: border-box;
    background-clip: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

figure {
    border: 15px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    float: left;
}

figcaption {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: "Bangers", cursive;
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding-top: 20px;
    text-align: center;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

h1 {
    font-family: "Bangers", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

header {
    font-size: 2rem;
    height: 100px;
    text-align: center;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    
}

nav a:hover {
    color: #f7c948;
    text-shadow: 1px 1px 4px rgba(247, 201, 72, 0.8);
}

nav a:visited {
    color: #f7c948;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px;
    text-align: center;
}

p {
    line-height: 1.4;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.8);
    margin: 25px auto;
    padding: 20px;
    width: 860px;
}

.conclusion {
    clear: both;
}